BOT_TOKEN=
PORT=3000
NODE_ENV=development
DOMAIN=https://yourdomain.com
VITE_ADSGRAM_BLOCK_ID=35273
VITE_ADSGRAM_TASK_BLOCK_ID=task-35279
ADSGRAM_SECRET=your_adsgram_secret_here
MMWALL_SECRET=your_mmwall_secret_here
